use flake .

# foundry to use solc.nix provided solc
export FOUNDRY_OFFLINE=true
export FOUNDRY_SOLC_VERSION=`which solc-0.8.23`

# following the advice from https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
# load developer's own local .env
dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html
